.App {
  text-align: center;
  padding:4rem;
}

.cta-banner {
  background-color: yellow;
  padding:2rem;
  font-size:1.4rem;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content: space-around;
}
.cta-banner span,.cta-banner button {
  display:block;
}